@{ ViewData["Title"] = "Home Page"; }



<div class="text-center">



    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Food & Drinks</div>
                    <div class="panel-body"><img class="media-object" src="images/Food.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">Electronics</div>
                    <div class="panel-body"><img class="media-object" src="images/Cloths.png"  class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-success">
                    <div class="panel-heading">Clothing, Shoes & Accessories</div>
                    <div class="panel-body"><img class="media-object" src="images/Electronics.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-success">
                    <div class="panel-heading">Pharmacy, Health & Personal Care</div>
                    <div class="panel-body"><img class="media-object" src="images/medicine.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
        </div>
    </div><br>




</div>