@model WebAppForWebshop.Models.Products



<html lang="en">



@{ ViewData["Title"] = "Edit"; }



<head>




    <title>Group 2 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">





    <title>Group2</title>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />




    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/themes/css/style.css">
    <link rel="stylesheet" href="~/themes/css/bootstrap.min.css">




    <link href="~/css/Custom.css" rel="stylesheet" />




</head>
<body>






    <hr />



    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div>
                    @*<div class="panel-heading">BLACK FRIDAY DEAL</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>*@
                </div>
            </div>
            <div class="col-md-6">



                <h1>Edit Products</h1>



                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductImage" class="control-label"></label>
                        <input asp-for="ProductImage" class="form-control" />
                        <span asp-validation-for="ProductImage" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <input type="submit" value="Save" class="btn-main" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>



            </div>
            <div class="col-sm-3">
                <div>
                    @*<div class="panel-heading">BLACK FRIDAY DEAL</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>*@
                </div>
            </div>
        </div>
    </div>











    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>